.slide {
  font-size: var(--font-size-40);
  line-height: 1.7;
  grid-column: 1/-1;
}

.clints_warrper {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.says {
  flex-basis: 100%;
  display: flex;
  flex-shrink: 0;
  scroll-snap-align: start;
}
