* {
  font-family: var(--font-family-raleway);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
body,
[type="submit"] {
  font-size: 1.6rem;
  font-family: var(--font-family-raleway);
  background-color: var(--color-background);
  color: var(--color-text);
  border: 0;
}

/* 🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕  */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 11rem;
}
/* 🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕 */
/* End Rest styles */
