@charset "UTF-8";
:root {
  --container-width: 119rem;
  --gutter: 2rem;
  --color-black: #000;
  --color-white: #fff;
  --color-blue: #2374e1;
  --color-light-blue: #1d9bf0;
  --color-dark-blue: #0a66c2;
  --color-darker-blue: #143ce8;
  --color-red: #ff0000;
  --color-green: #03a696;
  --color-grey: #f6f6f6;
  --color-dark-green: #42959b;
  --color-background: var(--color-white);
  --color-text: var(--color-black);
  --color-box-img: var(--color-black);
  --color-link-bg: var(--color-black);
  --color-input-border: var(--color-black);
  --font-family-raleway: "Raleway", sans-serif;
  --font-family-poppins: "Poppins", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-size-70: 7rem;
  --font-size-65: 6.5rem;
  --font-size-40: 4rem;
  --font-size-38: 3.8rem;
  --font-size-24: 2.4rem;
  --font-size-22: 2.2rem;
  --font-size-20: 2rem;
  --font-size-18: 1.8rem;
  --font-size-15: 1.5rem;
  --transition-timing: 0.3s;
  --color-icons: #333;
}

* {
  font-family: var(--font-family-raleway);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body,
[type="submit"] {
  font-size: 1.6rem;
  font-family: var(--font-family-raleway);
  background-color: var(--color-background);
  color: var(--color-text);
  border: 0;
}

/* 🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕  */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 11rem;
}

/* 🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕 */
/* End Rest styles */
/* start global styles */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

.h2_heading {
  font-size: var(--font-size-65);
  font-weight: var(--font-weight-bold);
  grid-column: 1/-1;
  margin-block-end: 8.7rem;
  text-transform: uppercase;
}

.heading2 {
  color: var(--color-black);
  font-size: var(--font-size-38);
  font-weight: var(--font-weight-bold);
  margin-bottom: 2.5rem;
  max-width: 400px;
}

.section {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  /* 👌👌👌👌👌👌👌👌👌 */
  align-items: start;
  /* 👌👌👌👌👌👌👌👌👌 */
}

.section--with-bg {
  padding: 11rem 0;
}

.section--with-bg::before {
  content: " ";
  position: absolute;
  width: 100vw;
  height: 100%;
  background-color: var(--color-grey);
  z-index: -2;
  /* Important 👌👌👌👌👌👌👌👌👌 */
  justify-self: center;
  /* 👌👌👌👌👌👌👌👌👌 */
}

.gap {
  row-gap: 3rem;
}

input,
textarea {
  outline: none;
  border: none;
}

.container {
  display: grid;
  row-gap: 11rem;
  margin: 0 auto;
  max-width: calc(var(--container-width) + var(--gutter) * 2);
  padding-inline: var(--gutter);
}

.video-loop {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.08;
  z-index: -99999;
}

.container .header {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  top: 0px;
  z-index: 99999;
}

.container .header::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  border-bottom: 0.1rem solid var(--color-input-border);
  background-color: var(--color-background);
  z-index: -1;
}

.navigation .fa-bars {
  display: none;
}

.container .navigation .navigation__list {
  display: flex;
  gap: 2rem;
}

.fa-bars {
  display: none;
}

.burger_check {
  display: none;
}

.container .navigation .navigation__list li:hover .navigation__links {
  text-decoration: underline;
  transition: 0.3s;
}

.switch {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

/* 🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕 */
.container:has(.bio:target) .navigation_bio,
.container:has(.skills:target) .navigation_skills,
.container:has(#Media:target) .navigation_Media,
.container:has(#projects:target) .navigation_projects,
.container:has(#clints:target) .navigation_clints,
.container:has(#contact:target) .navigation_contact {
  color: var(--color-blue);
  text-decoration: underline;
  font-weight: var(--font-weight-bold);
  transition: 0.3s;
}

/* 🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕 */
/* start switch */
/* 🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕 */
.switch__checkbox {
  display: none;
}

.switch__title {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-18);
}

.switch__checkbox:checked + .switch__lable {
  /* transform: translateX(20px); */
  /* background-color: var(--color-green); */
  background-color: var(--color-white);
}

.switch__checkbox:checked + .switch__lable::after {
  transform: translateX(2.1rem);
  background-color: var(--color-green);
}

.switch__lable {
  position: relative;
  width: 4.5rem;
  height: 2.2rem;
  border-radius: 1.5rem;
  background-color: var(--color-black);
  padding: 0.3rem 0.4rem;
  cursor: pointer;
  transition: 0.3s;
}

.switch__lable::after {
  content: " ";
  position: absolute;
  background-color: var(--color-white);
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  transition: 0.3s;
}

/* 🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕 */
/* End switch */
/* End Header */
.bio {
  -moz-column-gap: 7.4rem;
  column-gap: 7.4rem;
  row-gap: 0;
  grid-template-columns: repeat(2, 1fr);
}

.bio__text .bio__title {
  font-size: var(--font-size-70);
  font-weight: var(--font-weight-bold);
}

.bio__text .bio__description {
  font-weight: var(--fa-font-regular);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-20);
  margin: 3rem 0 8rem;
  line-height: 1.9;
}

.bio__text .bio__description .name {
  font-weight: var(--font-weight-semi-bold);
}

.bio__text .bio__description .almdrasa_link {
  color: var(--color-green);
}

.bio__text .bio__description .facebook_link {
  color: var(--color-blue);
}

.bio__text .bio__description .Twitter_link {
  color: var(--color-light-blue);
}

.bio__text .bio__description .LinkedIn_link {
  color: var(--color-dark-blue);
}

.bio__text .bio__description .Youtube_link {
  font-weight: var(--font-weight-semi-bold);
  color: var(--color-red);
}

.author {
  font-weight: var(--font-weight-bold);
}

.bio_image {
  /* Important 👌👌👌👌👌👌👌👌👌 */
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-self: end;
  /* Important 👌👌👌👌👌👌👌👌👌 */
}

.bio_image .pic {
  width: 42.7rem;
}

.bio_image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 46rem;
  border-radius: 1.8rem;
  background-color: var(--color-box-img);
  box-shadow: 2.17543px 8.7017px 38.0699px rgba(0, 0, 0, 0.15);
  z-index: -1;
}

.buttons .link {
  font-size: 2.4rem;
  font-weight: var(--font-weight-semi-bold);
}

.buttons .Say {
  background-color: var(--color-link-bg);
  color: var(--color-white);
  padding: 0.7rem 4.7rem;
}

.buttons .Cv {
  padding: 0.7rem 0;
  margin-inline-start: 1.4rem;
}

.buttons .Cv .arrow {
  /* display: inline-block; */
  animation: arrow-moving 1s infinite alternate ease-in-out;
}

@keyframes arrow-moving {
  0% {
    transform: translateY(0.5rem);
  }
  35% {
    transform: translateY(-0.5rem);
  }
  70% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
.skills__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 5rem;
}

.skills__list .skills__title__content .Head__li {
  font-size: var(--font-size-38);
  font-weight: var(--font-weight-semi-bold);
}

.skills__list .skills__title__content .description {
  color: var(--color-black);
  font-size: var(--font-size-20);
  margin-block-start: 1rem;
  transition: 0.3s;
}

.skills__list .skills__title__content .description:hover {
  text-shadow: 0 0 2px var(--color-green);
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}

.media__video {
  max-width: 100%;
}

.main-projects {
  -moz-column-gap: 7.4rem;
  column-gap: 7.4rem;
  row-gap: 7.5rem;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
}

.links {
  display: flex;
  gap: 2rem;
  margin-top: 2.5rem;
}

.links .link {
  color: var(--color-darker-blue);
  text-decoration: underline;
}

.img-projects {
  max-width: 100%;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

.slide {
  font-size: var(--font-size-40);
  line-height: 1.7;
  grid-column: 1/-1;
}

.clints_warrper {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.says {
  flex-basis: 100%;
  display: flex;
  flex-shrink: 0;
  scroll-snap-align: start;
}

.con {
  -moz-column-gap: 20rem;
  column-gap: 20rem;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.description {
  line-height: 1.9;
  font-size: var(--font-size-20);
}

.example_email {
  text-decoration: underline;
  font-weight: var(--font-weight-bold);
  margin: 2.5rem 0;
}

.icons {
  display: flex;
  gap: 20px;
}

.fa-brands {
  font-size: 25px;
  color: var(--color-icons);
}

.Socila {
  transition: var(--transition-timing);
}

.Socila:hover {
  transform: scale(1.2);
}

.formdata {
  display: flex;
  gap: 3rem;
  margin-bottom: 4rem;
}

input[type="text"],
input[type="tel"] {
  flex: 1;
  background-color: transparent;
  border-bottom: 0.1rem solid var(--color-text);
  color: var(--color-text);
}

textarea {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border-bottom: 0.1rem solid var(--color-text);
  margin-bottom: 3.4rem;
  color: var(--color-text);
}

.sub {
  background-color: var(--color-link-bg);
  padding: 1.7rem 1.8rem;
  color: var(--color-white);
  text-align: center;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-24);
}

.con form:invalid::after {
  content: "*";
  font-size: var(--font-size-38);
  color: var(--color-red);
}

footer {
  border-top: 1px solid var(--color-text);
  padding: 1rem 0;
  font-size: var(--font-size-15);
}

/* 👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌 */
/* 🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕 */
html:has(.switch__checkbox:checked) {
  --color-background: var(--color-black);
  --color-text: var(--color-white);
  --color-box-img: var(--color-green);
  --color-link-bg: var(--color-green);
  --color-grey: #080800;
  --color-input-border: var(--color-white);
  --color-icons: var(--color-white);
}

/* 🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕 */
/* 👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌👌 */
/* End dark theme  */
@media (max-width: 1000px) {
  html {
    font-size: 8px;
  }
}
@media (max-width: 800px) {
  .container {
    row-gap: 8rem;
  }
  .section {
    grid-template-columns: 1fr;
  }
  .media {
    max-width: 100%;
  }
  .bio_image {
    grid-row: 1;
    justify-self: center;
    margin-bottom: 4rem;
  }
  .skills__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-projects {
    grid-template-columns: 1fr;
    row-gap: 6rem;
    justify-items: center;
  }
  .text:nth-of-type(2) {
    order: 1;
  }
  .says {
    font-size: var(--font-size-24);
  }
  .send {
    order: -1;
  }
  .con {
    row-gap: 6rem;
  }
}
/* Mobail */
@media (max-width: 500px) {
  /* 🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕 */
  .burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 0.75rem;
  }
  .bar {
    width: 4.375rem;
    height: 0.3rem;
    background-color: var(--color-text);
    transition: var(--transition-timing);
  }
  .header:has(.burger_check:checked) .bar:nth-child(1) {
    transform: translateY(10px) rotate(40deg);
  }
  .header:has(.burger_check:checked) .bar:nth-child(2) {
    opacity: 0;
    visibility: hidden;
  }
  .header:has(.burger_check:checked) .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-40deg);
  }
  .burger_check:checked + .navigation {
    top: 100%;
  }
  .container .navigation {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: var(--color-background);
    width: 100vw;
    top: 0;
    padding: 3rem 0;
    border-bottom: 1px solid var(--color-text);
    z-index: -2;
    transition: var(--transition-timing);
  }
  /* 🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕🆕 */
} /*# sourceMappingURL=style.css.map */
